body{
  background: #3D7EAA;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFE47A, #3D7EAA);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFE47A, #3D7EAA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.header {
  background-color: #fff;
  position:sticky;
  top:0;
  z-index: 1;
}
.color {
  background-color: #ffffff;
}
a {
  text-decoration: none;
}
.logo img {
  width: 264px;
  height: auto;
}
.heading a {
  text-decoration: none;
  
}
.heading a h1 {
  font-family: "Galada", cursive;
  color: #130f40;
  background-color: #ffffff;
  font-size: 40px;
  margin-top: 34px;
  transition: 0.7s;
  background-color: #C8D6E5;
  padding: 12px;
  border-radius: 10px;
}
.heading a h1:hover {
  color: #44bd32;
  background-color: #353b48;
  display: inline-block;
  padding: 10px;
  border-radius: 10px;
}
.menu {
  display: inline-block;
  background-color: #c8d6e5;
  padding: 10px 10px;
  text-align: center;
  border-radius: 20px;
}
.menu ul {
  text-align: center;
}
.menu ul li {
  display: inline-block;
  margin-left: 20px;
  margin-top: 30px;
  text-align: center;
}
.menu ul li a {
  display: block;
  font-size: 30px;
  font-weight: 600;
  color: #130f40;
  transition: 0.7s;
  text-align: center;
}
.menu ul li a:hover {
  color: #44bd32;
  background-color: #353b48;
  border-radius: 10px;
  padding: 8px;
}
.menu ul li:nth-child(2) {
  position: relative;
}
.menu ul li:nth-child(2):hover > a {
  background-color: #353b48;
}
.menu ul li:nth-child(2) ul {
  background-color: #353b48;
  width: 260px;
  position: absolute;
  top: 100%;
  left: 0;
  text-align: left;
  border-radius: 12px;
  opacity: 0;
  visibility: hidden;
  transition: 0.7s;
  transform: scaleY(0);
  transform-origin: top center;
}
.menu ul li:nth-child(2) ul li {
  display: inline-block;
}
.menu ul li:nth-child(2) ul li a {
  display: block;
}
.menu ul li:nth-child(2):hover ul {
  opacity: 1;
  visibility: visible;
  transform: scaleY(1);
}
 /* banner section */
 .myimg{
   max-height: 600px;
   width: 100%;
   background-size: cover;
 }
 .banner img{
   border-radius: 25px;
 }

.footer-section{
  font-family: "Galada", cursive;
  background-color: #C8D6E5;
  border-radius: 10px;
  color:black;

}
.footer-section h1{
  font-size: 50px;
  margin-top: 20px;
}
.footer-section i{
  font-size: 200px; 
  margin-top: 20px;
  transition: 0.7s; 
  

}
.footer-section i:hover{
  transform:scale(1.1,1.1);
  color: #c44569;
            
}
